.UrunDiv {
  cursor: pointer;
}
.UrunDiv:hover {
  background-color: #e8e8e8;
}
.CartItemContainer::-webkit-scrollbar {
  display: none;
}

.CartItemContainer {
  max-height: 70%;
  overflow-y: overlay;
}
.SepetComponent{
  display: flex;
  flex-direction: column;
  max-height: 400px;
}
.SepetResponsiveComponent{
  display: none;
}

@media only screen and (max-width: 992px){
  .SepetComponent{
    display: none;
  }
  
  .SepetResponsiveComponent{
    display: block;
  }
}
@media only screen and (max-width: 720px){
.UrunDiv{
  border-bottom: 1px solid black;
}
}